/** Import Bootstrap functions */

@import "~bootstrap/scss/functions";
$theme-colors: ( primary: rgb(18, 141, 110));

/** Bootstrap navbar fix (https://git.io/fADqW) */

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
// /** Import Bootstrap functions */
// //@import "~bootstrap/scss/functions";
// // variables gird
// $col-xs: 0;
// $col-sm: 481px;
// $col-md: 768px;
// $col-lg: 992px;
// // $col-sl: 1025px;
// $col-xl: 1200px;
// $col-xxl: 1366px;
// // variables max widths
// $media-sm: 100%;
// $media-md: 750px;
// $media-lg: 950px;
// $media-xl: 1140px;
// $media-xxl: 1200px;
// /* class bootstrap helper (d-md-none d-lg-none) */
// // $grid-breakpoints-custom: (xs: 0, md: $col-md, lg: $col-lg, sl:$col-sl);
// // $grid-breakpoints-mb: (xs: 0);
// // $grid-breakpoints-dt: (md: $col-md, lg: $col-lg, sl:$col-sl, xl: $col-xl);
// /* class media bootstrap reponsive helper @include media-breakpoint-up(xl) */
// // $grid-breakpoints-media: (xs: $col-xs, sm: $col-sm, md: $col-md, lg: $col-lg, xl: $col-xl);
// $grid-breakpoints: () !default;
// $grid-breakpoints: map-merge( ( xs: $col-xs, sm: $col-sm, md: $col-md, lg: $col-lg, xl: $col-xl), $grid-breakpoints);
// /* class gird (col-md-6, container max-width) */
// $container-max-widths: (sm: null, md: $media-md, lg: $media-lg, xl: $media-xl);
// $grid-columns: 12 !default;
// $grid-gutter-width: 30px !default;
// // Color system
// $white: #fff !default;
// $gray-100: #fcfcfc !default;
// $gray-200: #f2f2f2 !default;
// $gray-300: #e4e4eb !default;
// $gray-400: #bbb !default;
// $gray-500: #818181 !default;
// $gray-600: #686868 !default;
// $gray-700: #666 !default;
// $gray-800: #4c4c4c !default;
// $gray-900: #464646 !default;
// $black: #211f26 !default;
// $grays: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $grays: map-merge( ( "100": $gray-100, "200": $gray-200, "300": $gray-300, "400": $gray-400, "500": $gray-500, "600": $gray-600, "700": $gray-700, "800": $gray-800, "900": $gray-900), $grays);
// // $blue:    #007bff !default;
// // $indigo:  #6610f2 !default;
// // $purple:  #6f42c1 !default;
// // $pink:    #e83e8c !default;
// // $red:     #dc3545 !default;
// $orange: #f6422e !default;
// // $yellow:  #ffc107 !default;
// $green: #009549 !default;
// // $teal:    #20c997 !default;
// // $cyan:    #17a2b8 !default;
// $colors: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $colors: map-merge( ( // "blue":       $blue,
// // "indigo":     $indigo,
// // "purple":     $purple,
// // "pink":       $pink,
// // "red":        $red,
// "orange": $orange, // "yellow":     $yellow,
// "green": $green, // "teal":       $teal,
// // "cyan":       $cyan,
// "white": $white, "gray-light": $gray-300, "gray": $gray-600, "gray-dark": $gray-900), $colors);
// $primary: $orange !default;
// $secondary: $gray-500 !default;
// // $success:       $green !default;
// // $info:          $cyan !default;
// // $warning:       $yellow !default;
// // $danger:        $red !default;
// $light: $gray-200 !default;
// $dark: $black !default;
// $gray-dark: $gray-900;
// $gray-light: $gray-300;
// $theme-colors: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $theme-colors: map-merge( ( "primary": $primary, "secondary": $secondary, // "success":    $success,
// // "info":       $info,
// // "warning":    $warning,
// // "danger":     $danger,
// "light": $light, "gray-dark": $gray-dark, "gray-light": $gray-light, "dark": $dark), $theme-colors);
// // $theme-colors: (primary: #f6422e);
// // $link-color:                              theme-color("primary") !default;
// // $link-decoration:                         none !default;
// // $link-hover-color:                        darken($link-color, 15%) !default;
// $link-hover-decoration: none !default;
// // Darken percentage for links with `.text-*` class (e.g. `.text-success`)
// // $emphasized-link-hover-darken-percentage: 15% !default;
// /** Bootstrap navbar fix (https://git.io/fADqW) */
// $navbar-dark-toggler-icon-bg: none;
// $navbar-light-toggler-icon-bg: none;
// // $border-width:                1px !default;
// $border-color: $primary !default;
// // $border-radius:               .25rem !default;
// // $border-radius-lg:            .3rem !default;
// // $border-radius-sm:            .2rem !default;
// $height-slider: 280px !default;
// $h1-font-size: 1.75rem !default;
// $h2-font-size: 1.5rem !default;
// $h3-font-size: 1.25rem !default;
// $h4-font-size: 1.2rem !default;
// $h5-font-size: 1.1rem !default;
// $h6-font-size: 1rem !default;